/* Positionierung des divs welches die Textarea für die Angabe der Position des Mauszeigers enthält */
div.pointer-position
{
	position: relative;
	margin-left:12px;
}

/* Textarea welche die Position des Mauszeiger beinhaltet */
#pointer-textarea
{
	border-radius: 7px;
}